# udp2raw default configuration
# Copyright (C) 2024 iHub-2020
#
# See: https://github.com/wangyu-/udp2raw
#
# Configuration Types:
#   config general 'general'  - Global settings
#   config server 'xxx'       - Server instance (OpenWrt listens for connections)
#   config client 'xxx'       - Client instance (OpenWrt connects to VPS)
#
# IMPORTANT: The following parameters MUST match on both client and server:
#   - raw_mode (faketcp/udp/icmp)
#   - key (encryption key)  
#   - cipher_mode (aes128cbc/xor/none)
#   - auth_mode (hmac_sha1/md5/crc32/simple/none)
#
# Version: 1.4.1 (Synced with init script v1.1.3)
# Last Updated: 2026-01-11

# Global settings
config general 'general'
	# Master switch: 0=disabled, 1=enabled
	option enabled '1'
	# Log level: 0=never, 1=fatal, 2=error, 3=warn, 4=info, 5=debug, 6=trace
	option log_level '4'
	# OpenWrt safety options
	option keep_rule '1'
	option wait_lock '1'
	option retry_on_error '1'

# Example 1: Server Mode (Recommended for OpenWrt as Gateway)
# OpenWrt (-s) listens on WAN and forwards to local VPN
config server 'home_server'
	option enabled '0'
	option alias 'OpenWrt Server'
	# Listen on all interfaces (WAN)
	option local_addr '0.0.0.0'
	option local_port '29900'
	# Forward decrypted traffic to local VPN (e.g. WireGuard)
	option remote_addr '127.0.0.1'
	option remote_port '51820'
	# Security
	option key 'your_password_here'
	# Advanced Defaults
	option raw_mode 'faketcp'
	option cipher_mode 'xor'
	option auth_mode 'simple'
	option auto_rule '1'
	option seq_mode '3'

# Example 2: Client Mode (Connect to VPS)
# OpenWrt (-c) connects to a remote VPS (-s)
config client 'vps_client'
	option enabled '0'
	option alias 'Connect to VPS'
	# VPS Public IP and Port
	option remote_addr '158.101.158.68'
	option remote_port '29900'
	# Local Listen Address (e.g. for WireGuard Peer Endpoint)
	option local_addr '127.0.0.1'
	option local_port '3333'
	# Security
	option key 'your_password_here'
	# Advanced Defaults
	option raw_mode 'faketcp'
	option cipher_mode 'xor'
	option auth_mode 'simple'
	option auto_rule '1'
	option seq_mode '3'
	# Advanced Client Options
	option source_ip ''
	option source_port ''
