# udp2raw default configuration
# See: https://github.com/wangyu-/udp2raw
#
# Configuration Types:
#   config globals 'globals'  - Global settings
#   config tunnel 'xxx'       - Tunnel instance (client or server)
#
# IMPORTANT: The following parameters MUST match on both client and server:
#   - raw_mode (faketcp/udp/icmp)
#   - key (encryption key)  
#   - cipher_mode (aes128cbc/xor/none)
#   - auth_mode (hmac_sha1/md5/crc32/simple/none)

# Global settings
config globals 'globals'
	# Master switch: 0=disabled, 1=enabled
	option enabled '0'

# Example: WireGuard client tunnel (disabled by default)
# Uncomment and modify for your setup
#config tunnel 'wg_tunnel'
#	option enabled '0'
#	option mode 'client'
#	option server_addr '203.0.113.1'
#	option server_port '7777'
#	option local_addr '127.0.0.1'
#	option local_port '6666'
#	option key 'your-secret-key-here'
#	option raw_mode 'faketcp'
#	option cipher_mode 'aes128cbc'
#	option auth_mode 'md5'

# Example: Server mode tunnel (for VPS)
#config tunnel 'wg_server'
#	option enabled '0'
#	option mode 'server'
#	option server_addr '0.0.0.0'
#	option server_port '7777'
#	option local_addr '127.0.0.1'
#	option local_port '51820'
#	option key 'your-secret-key-here'
#	option raw_mode 'faketcp'
#	option cipher_mode 'aes128cbc'
#	option auth_mode 'md5'